* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url('nav.jpg');
    background-size: cover;
    background-position: center;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(15deg, #00c6ff, #0072ff);
    color: white;
    line-height: 1.6;
}

.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.8) !important;
    transition: background-color 0.3s ease-in-out;
}
.nav-link {
    color: #0072ff; 
}

.navbar-dark .nav-link:hover {
    color: gold !important; 
}

section {
    padding: 100px 20px 50px;
}

/* Ejemplo de personalización */
@media (max-width: 768px) {
    header {
        padding: 20px;
    }

    .navbar-brand {
        font-size: 1.5rem;
    }

    .lead {
        font-size: 1rem;
    }
}
